@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* geral */

* {
    margin: 0 auto;
    padding: 0;

    font-family: "Nunito Sans", sans-serif;
}

/* geral tags */

a {
    color: inherit;
    text-decoration: none;
    transition: var(--transition);
}

a:hover {
    color: var(--primary-color);
}

img {
    max-width: 100%;
    height: auto;
}

/* variaveis css */

:root {
    --primary-color: #005CFF;
    --secondary-color: #2776ff;
    --dark-color: #00264E;
    --dark-grey: #303030;
    --light-grey: #E7E7EA;
    --accent-color: #5EC0BE;
    --white: #fff;
    --black: #000;
    --border-radius: 8px;
    --transition: all 0.3s ease;
}

/* posicoes-setadas */

.display-flex {
    display: flex;
}

.justify-content-c {
    justify-content: center;
}

.align-items-c {
    align-items: center;
}

.justify-content-ar {
    justify-content: space-around;
}

.justify-content-bt {
    justify-content: space-between;
}

.justify-content-l {
    justify-content: left;
}

.flex-direction-c {
    flex-direction: column;
}

.padding-0 {
    padding: 0;
}

/* header */
header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100000;
}

header p {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.header-top {
    padding: 10px 16px;
    background: #005CFF;
    height: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    max-width: 100vw;
}

.italico {
    font-style: italic;
    font-weight: 400;
}

.sublinhado {
    background-color: #6220C1;
    width: 63px;
    height: 16px;
    flex-shrink: 0;
    padding: 3px;
    border-radius: 6px;
}
.header-bottom-mobile {
    display: none;
}
.header-bottom {
    background-color: #fff;
    padding: 0 12%;
    box-sizing: border-box;
    width: 100vw;
    height: auto;
    flex-shrink: 0;

}

.logo-busca {
    flex-direction: row;
    width: auto;
    justify-content: flex-start;
    gap: 3.5rem;
}

.pesquisar {
    border: 1px solid #ccc;
    border-radius: 8px;
    justify-content: space-between;
    padding: 5px 15px;
    width: 30vw;
    max-width: 600px;
    margin: 16px auto;
    background: white;
}

.pesquisar input[type="search"] {
    border: none;
    padding: 8px;
    font-size: 14px;
    font-style: normal;
    width: 100%;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    outline: none;
}

.pesquisar button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}
.search-container {
    position: relative;
    display: flex;
    flex-direction: column;
}

#searchResult {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: none;
    z-index: 100000;
}


.cliente {
    flex-direction: row;
}

.cliente h4 {
    color: var(--rgb-000, #000);

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 14px;
}

#perfil-cliente {
    flex-direction: row;
    padding: 0 24px;

}

#perfil-cliente img {
    width: 20.571px;
    height: 24px;
    flex-shrink: 0;
    padding: 0 5px;
}

/* nav */
nav {
    position: fixed;
    z-index: 10;
    top: 110px;
    left: 0;
    right: 0;
}

nav ul {
    list-style: none;

}

nav ul li {
    padding: 10px;
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: all ease-in-out 0.3s;
}

nav ul li a:hover {
    color: #005CFF;
}

/* nav-bar */
.nav-container {
    background-color: #fff;
    width: 100vw;
    height: 38px;

}

.nav-content {
    width: 100%;
    max-width: 1200px;
}

.nav-links {
    margin: 0;
    padding: 0;
    gap: 12px;
}

.menu-first-item-container {
    margin-right: 25px;
    gap: 1rem;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    white-space: nowrap;
    transition: all ease-in-out 0.3s;
}


.hamburguer-menu {
    flex-direction: column;
    height: 15px;
    width: 20px;
    cursor: pointer;
    right: 2rem;
}

.hamburguer-menu span {
    width: 100%;
    height: 2px;
    background-color: rgb(0, 0, 0);
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburguer-menu:hover span {
    background-color: var(--primary-color);
}


/* mega menu geral*/
.mega-menu-base {
    position: absolute;
    top: 100%;
    left: 358px;

    width: 63%;
    background: white;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

.mega-menu-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 329px;
}

.departments-column {
    flex-direction: column;
    width: 234px;
    background: #F5F5F5;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.categories-grid {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 110px;
    margin: 0;
    padding: 0;
    width: auto;
    height: 100%;
}

.category-column {
    flex: 0 0 auto;
    min-width: 90px;
    margin: 0;
}

/* nav mega menu */
.nav-department:hover .nav-mega-menu {
    display: block;
}

.department-content {
    flex: 1;
    display: flex;
    padding: 0;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 0px;
    gap: 20px;
    flex-direction: column;
}

.department-content h3 {
    margin-left: 7px;
}

/* mega menu */
.mega-menu {

    box-shadow: 0px 4px 8px -1px rgba(0, 0, 0, 0.10);
    border-top: 1px solid #eee;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    margin: 0;
}

.menu-first-item-container:hover .mega-menu {
    opacity: 1;
    visibility: visible;
}

.mega-menu-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    height: 329px;
}

.departments-column {
    flex-direction: column;
    width: 234px;
    background: #F5F5F5;

    margin: 0;
    padding: 0;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
}

.departments-column li {
    margin: 0;
    width: 100%;
}

.departments-column li a {
    display: flex;
    opacity: 0.57;
    align-items: center;
    margin: 0;
    color: #000000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    transition: background-color 0.3s;
    width: 100%;
    box-sizing: border-box;
}


.arrow {
    margin-left: 97px;
    font-size: 1.5rem;
    font-weight: bold;
}

.subcategory-column {
    margin: 0;
}

.subcategories-content {
    padding-top: 50px;
    padding-left: 30px;
}

.category-title {
    color: #0066cc;
    font-size: 14px;
    margin-bottom: 12px;
    margin-left: 10px;
    padding-bottom: 5px;
    font-weight: 700;
}

.category-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    gap: 8px;
}

.category-list li {
    margin: 0;
}

.category-list li a {
    color: #656565;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.2s;
    display: block;
    white-space: nowrap;
}

.category-list li a:hover {
    color: #0066cc;
    padding-left: 5px;
}


.subcategories-column {
    margin: 0;
    flex: 1;
    overflow: hidden;
}

.subcategories-content {
    margin: 0;
    height: 100%;
    width: 100%;
}


.img-mega-menu {
    position: relative;
    width: auto;
    height: auto;
    margin: 20px;
}

.img-mega-menu img {
    width: 95%;
    height: auto;

    display: block;
}

.overlay-content {
    max-width: 130px;
}

.img-mega-menu .overlay-content {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    z-index: 2;
    color: white;
}

.img-mega-menu h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 27px;
    white-space: wrap;
    letter-spacing: -0.12px;
    margin: 0 0 15px 0;
    z-index: 2;
}

.img-mega-menu .negrito {
    font-weight: 700;
}

.btn-mega-menu {
    background: transparent;
    color: white;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 8px;

}

.btn-mega-menu:hover {
    background-color: #fff;
    color: #000;
}


/* seção home */

.home-article {
    background-color: #E7E7EA;
    flex-direction: row;
    padding-top: 150px;

}

.text {
    flex-direction: column;
    margin-left: 0;
    margin-top: 70px;
}
.img-home{
    width: auto;
    margin-right: 0;
   
}

.mobile-text{
    display: none;
}
.text h1 {
    color: #000;
    font-size: 100px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: uppercase;
}

.negrito {
    font-weight: 700;
}

.text h3 {
    color: #005CFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 7.5px;
    text-transform: uppercase;
}

.negrito-menor {
    font-size: 60px;
}

/* cards roupas */

.rolagem-roupas {
    width: 68vw;
    height: auto;

}

.title-rolagem {
    margin: 140px 0px 19px 0px;
}

.title-rolagem h2 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.title-rolagem a {
    color: var(--Grey-Scale-darkest-grey, #303030);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
}

.title-rolagem a:hover {
    color: #005CFF;
}

.cards-container {
    overflow-x: auto;
    gap: 20px;
    padding-bottom: 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    scroll-behavior: smooth;

}

.card {
    flex: 0 0 auto;
    width: 238px;
    height: 409px;
    border: 1px solid #ddd;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-shrink: 0;
    transition: transform 0.3s;
}


.img-container {
    position: relative;
    display: inline-block;
}

.img-container img {
    width: 222px;
    height: 222px;
    object-fit: cover;
}

.novo-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #00264E;
    color: white;
    padding: 1px 6px;
    border-radius: 4px;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;

}

.card-content {
    padding: 15px;
}

.card-content h3 {
    color: var(--Grey-Scale-darkest-grey, #303030);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    word-break: break-all
}

.price {
    flex-direction: column;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

}

.old-price {
    text-decoration: line-through;
    margin-left: 0;
    color: var(--Grey-Scale-darkest-grey, #303030);
}

.new-price {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: capitalize;
}

.desconto-badge {
    margin-left: 8px;
    background-color: #5EC0BE;
    color: white;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 11px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;

}

.text-bottom {
    color: var(--Grey-Scale-darkest-grey, #303030);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.buy-btn {
    width: 100%;
    padding: 10px;
    background: var(--rgb-092255, #2776ff);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.buy-btn:hover {
    background-color: #005CFF;
}

/* setas para rolagem */

.scroll-container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    overflow: visible;
}

.scroll-arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #005CFF;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
    transition: all 0.3s ease;
    padding: 0;
}

.scroll-arrow svg {
    width: 24px;
    height: 24px;
    fill: #005CFF;
    transition: fill 0.3s ease;
}

.scroll-arrow:hover {
    background-color: #005CFF;
    border-color: #005CFF;
}

.scroll-arrow:hover svg {
    fill: white;
}

.left-arrow {
    left: -20px;
}

.right-arrow {
    right: -16px;
}

.scroll-arrow.hidden {
    opacity: 0;
    pointer-events: none;
}

/* pontos da rolagem */
.scroll-indicator {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 20;
    margin-top: 0;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #838383;
    cursor: pointer;
    transition: all 0.3s ease;

    margin: 0;

}

.dot.active {
    background-color: #303030;

}

/* seção texto-1 */

#text-1 {
    width: 100vw;
    height: auto;
    padding: 50px 0; 
}

.text-article {
    height: 100%;
}

.text-img {
    gap: 2.5rem;
    height: 100%;
    
    padding: 5% 15%;
}

.content-img {
    height: 100%;
    width: 50%;
    margin: 0;
    
    
    background: #C2C2C2;
}

.content-text {
    flex-direction: column;
    width: 50%;
    height: 100%;

    text-align: left;
}

.content-text h3 {
    color: #000;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    margin-left: 0px;
    letter-spacing: 1.2px;
}

.content-text p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    padding: 22px 0px;
    line-height: 140%;
    margin-right: 170px;
    letter-spacing: 0.9px;
}

/* seção texto-2 */

#text-2 {
    background: #DEDEDE;
    width: 100vw;
    height: auto;
}

#text-2 h3 {
    margin: 0;
    color: #4F4F4F;
}

.icon {
    position: relative;
    flex-shrink: 0;
    padding-left: 60px;
    width: 90px;
    height: 90px;
}

.icon img:first-child {
    position: absolute;
    top: 53%;
    left: 69%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.icon img:last-child {
    position: relative;
    z-index: 1;
}

.icon-text-content p {
    color: #4F4F4F;
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0.9px;
    padding: 50px 20px;
    text-align: left;
    margin-right: 0;
}

.img-content img {
    width: 100%;
    height: auto;
}

/* seção texto-1 copy*/
#text-1-copy {
    width: 100vw;
    height: auto;
    padding-bottom: 100px;
    position: relative;
}

/* seção contato */

#contato {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-bottom: 80px;
    z-index: 1;
}

.contato-article {
    background-image: url("../assets/fundo-contato.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 70%;
    position: relative;
 
}

.faixa {
    background: #005CFF;
    width: 100%;
    height: 132px;
    flex-direction: column;
    justify-content: center;
    left: 0;
    right: 0;
    flex-shrink: 0;
}
.faixa h3 {
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 1.2px;
    text-align: center;
}

/* article newsletter */
.newsletter{
    flex-direction: column;
    gap: 2.5rem;
    margin-top: 4rem;
}
.newsletter h4{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.color-2-txt{
    color: #005CFF;
}

.form-newsletter {
   
    width: 70vw;
    min-height: 176px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #DEDEDE;
}

form{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}
.form-group {
    margin-bottom: 0;
    flex: 1 1 auto;
    min-width: 150px;
}
.form-group input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}
.checkbox-group{
    display: flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    color: #656565;
    margin: 0; 
    white-space: nowrap; 
}

.checkbox-group input{
    margin-right: 0.5rem;
}
.checkbox-group input[type="checkbox"] {
    -webkit-appearance: none; 
    -moz-appearance: none;    
    appearance: none;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    background-color: white;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
}
.checkbox-group input[type="checkbox"]:checked {
    background-color: #005CFF;
}
.checkbox-group input[type="checkbox"]:checked::after {
    content: "✓";
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.underline{
    text-decoration: underline;
}
.cadastrar-btn {
    padding: 14px 24px;
    background: #005CFF;
    color: white;
    border: none;
    font-weight: 700;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.cadastrar-btn:hover {
    background-color: #0040C1;
}
.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

/* footer */
.site-footer {
    background-color: #F5F5F5;
    color: #000;
    font-size: 14px;
    position: relative;
}
.site-footer img:hover{
    cursor: pointer;
}
.footer-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    padding: 40px 20px;
    margin: 0 auto;
    flex-wrap: wrap;
}
.logos-footer{
    flex-direction: column;
    gap: 2rem;
}

.separador{
    width: 100%;
    gap: 40px;
}
.separador img{
    height: 19px;
}
.footer-section {
    margin: 0 15px 30px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 20px;
    font-size: 12px;
    font-weight: 700;
}
.footer-section h5{
    color: #303030;
    font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}

.footer-section h5:hover {
    color: #3498db;
    cursor: pointer;
}

.formas-pagamento{
    flex-direction: row;
    gap: 35px;
    
   
}
.formas-pagamento img{
    margin: 0;
}
.footer-bottom {
    background-color: #fff;
    text-align: center;
    padding: 40px 0px;
    gap: 30px;
    height: 180px;
    flex-direction: column;
    margin-top: 30px;
    
}
.footer-bottom p{
    color: #303030;
    font-weight: 400;
    font-size: 12px;
    padding: 0px 300px;
    line-height: 20px;
}
.colaboradores-logos{
    flex-direction: row;
    gap: 35px;
}
.colaboradores-logos img{
    margin: 0;
    width: 56px;
}